# Кеши Python
pycache/
# НЕ удаляем директорию migrations, только pycache
*/migrations/__pycache__/

*.pyc
*.pyo
*lime/pycache/
# Виртуальное окружение
venv/
.venv/
env/
ENV/
.env
# PyCharm
.idea/

# Временные файлы Git
FETCH_HEAD
db.sqlite3